.cs {
  background-color: #f3f3f3;
  padding: 120px 30px;
}
.cs .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.cs .container h2{
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  padding-bottom: 20px;
  text-align: center;
}
.cs .container p {
  font-size: 15px;
  padding-bottom: 50px;
  text-align: center;
}