footer{
  background-color: #282c2f;
}
/* 윗줄 */
footer .link_wrap {
  padding: 20px;
}
footer .link_wrap .container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: table;
}
footer .link_wrap .container .footer_logo {
  display: inline-block;
  line-height: 0;
}
footer .link_wrap .container .footer_logo img{
  padding-right: 50px;
  line-height: 31px;
}

footer .link_wrap .container .footer_util {
  display: inline-block;
  
}
footer .link_wrap .container .footer_util ul li {
  display: inline-block;
  padding: 0 20px;
  position: relative; 
  vertical-align:  middle;
}
footer .link_wrap .container .footer_util ul li  a {
  color: #999;
  font-size: 13.5px;
  text-decoration: none;

}
footer .link_wrap .container .footer_select {
  display: inline-block;
}